
@font-face {
  font-family: 'Shrift';
  src: url('Shrift.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Shrift';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAABEUAA8AAAAAGrwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAQ+AAAABoA
AAAcjbtjwEdERUYAABCcAAAAHgAAAB4AKQAOT1MvMgAAAcwAAABEAAAAVluqZoFjbWFwAAACKAAA
AFcAAAFmDGoMSGdhc3AAABCUAAAACAAAAAj//wADZ2x5ZgAAApQAAAzZAAAVDANRc95oZWFkAAAB
WAAAADEAAAA2F1qC0GhoZWEAAAGMAAAAIAAAACQIVwPnaG10eAAAAhAAAAAXAAAAGAvTADxsb2Nh
AAACgAAAABIAAAASE5ANjm1heHAAAAGsAAAAHgAAACAAUQIFbmFtZQAAD3AAAADxAAABhqPEuylw
b3N0AAAQZAAAAC4AAABBJYJZSHZoZWEAABDUAAAAIgAAACQGiwp6dm10eAAAELwAAAAYAAAAGAMr
/OJ42mNgZGBgAOI1ZW+exPPbfGXgZmEAgVsaco9h9P+zDAws8iy8QC4HAxNIFABK3QqzAAAAeNpj
YGRgYOFlYGCIYWH4f/b/IxZ5BqAICmABAGHvBEh42mNgZGBg4GBiYmBnAAEmIGZkAIk5gPkMAAQY
AFkAAHjaY2BkYWCcwMDKwME0k+kMAwNDP4RmfM1gzMjJwMDEwAokIYCJARkEpLmmMDiwMLJoMBv/
N2aIYeEFCzOCCACy8wjmeNpjYYAAFjD+/x9IsP8/x2AGABqwBBkAeNpjYGBgZoBgGQZGBhBIAPIY
wXwWBhcgzcPAwcAEZDOwMLJIsEizaPz/D1IG5amDeH9Yfr/7/RIoCDEBLA3E7CBzGdkQwoxMQIKJ
ARUwMgx7AABwsQrDAAAAAAwADAAMAgYEYAb4CRYKhgAAeNptWFuPZFd1rr3Xvp17Xc6luru6e+bU
TFW7x91Tpy6nPLcaY2M8tmXAiMR2QkSeAkKKEkHeAkSKCCZRSB6igMQT/wEe+AF5TB7yBxBSXkie
EUSJZfjWPtXdY6BP9b6fvddee61vf+v0RA9/9HOFpNdrbg9u088/HKMmfv1Rr6Cf0i/F91CxeSoK
U5VFORFlXuVVWc3ms+lsamzVojkvi4m0ubEm74ZOpCnyYrtZPxHr7U5s2m25bbeL9qFYFcbW6LPI
c1Pg3SKvto/FfIZB68262YkVfg9Fu8rtBCsbnxSmsIvCNJi2MXmxQI4Z+OWGO48FBGvwfrvh9fi3
xrIlZmpX1arEs1wtVstmBdEhxIJb2tVi2TwV1WK1RXnZLMqmrCBnM1/bmU3FdLaZbR6LDaRqIRzE
48yWFe8SQhheGVsuJsJMDNKintZQiamNhXrm/Cpe2+zEmt99LNo1ns2OtuvZ3Jb8Wl6kskgJSpOW
9VHlmL1OBSq8/tw/2zWvvVMi+o4QQoouORlVo8K45G9ULG7+PvDd9XG9MVJJKXmoFPQtficcuKwl
ncRa/Nbft6W8KpILyWAwaR27gHgCLYh7tKX9MKk1/qUS35Q6FEbyEpIkRn3w3KSRKWPsJssMOjCG
Pr6m/Jb6eN3/6yAI1OWLcR4KiR3wxNKPk/TLt202Uree7N7J6tsnd5N7f3Fn4nfo/kSJIqKREUoL
NbYyIqlYQqWJSH2O9xAGOldhhKIR4TD189pQD1QSmCS178oDO5RUdIKQOMjoiHgCXp0nEyy+7bpN
xDXJihFKfQbnYkItI0kJURCR38peUTd7VuKLirUg7wyeVMnj/rOD/I3w0dnDg/jcHAZvu8Nw7uLJ
adSvT4ezl6v7ExUEofOPSicjP+H0uGyraTk+G71ShcflUSxGamDSIA7hh/0iSKr4D5JJkPdLm9Z3
kngyqm14kB+Eswt6i0yb+mOEGP1ovXvr7b+6/8ftqxMZ6cBaDwM91Uvp3+gX4kfi38V/wu9rA3Ne
TM30XEzNubALa5p6amu74Cbu8b0YBms9lxg9tWhHWrMBz+ANKJgZu0VTo3G6mNbzS8EZ0CPV3s4t
8lRZuMF1DanhGlpl19p1cW7sdqf2Ts5euZM+6x44F/fQvn+5Wrb8rFqUuI7RK/R25bZZbhmtsHTh
Z+c09wv7VlnALwFmXAG+eBgq2eENYMv7fjGhYgEIykRuS7udNe18vfFAwfAz2z7W266ItPP+x6JD
hJ3c7BQKm734i3a9f7gFADHTJ14XT0W7WfArm2XbtNDtdkk/pkBa7xYwc1KS2BytklwXytuek4It
F53smiH5VEqjNSnjSAxFpuG6MGRllNCwVArE7dV4YI1TxD2CvHdpP7smLUOnQ8NTKpIuwTxKaaVk
PyWnrVUqTvTE4TcsXD/QhSr0wPwAPknwyr52qZUn4RHwQJ8adXqsBkkR4MgdqUxhN5g5Jhmz7yh4
LUkTGHKWRE42YMGN5CoNCms7d/So4vENWlDiBk5o78XyOXT5nqBr7Lzyz+cRyfdCRzezaG0++lkh
RlJ6ca5f+luemH6hngeufS5vans8wy8/CpULBrFWKU6K1SewXQv9BTaiqu9GETnjjFXZOCbnrHOO
jo9VP0xiExSVXSV2kZzcTg5Sd6QPzVC/BnBmfRUmykPV9C/D8UG4jvV2a6bVnaFJ49SYiaXExspO
tCnVNQjtxcNucIo6Cqg2/bhv0pXLHtroQZ8eZfkiumvTiQaqQEonVWCM7eMAYCKCMqWcY+vyN0JG
VjmGSImC/JzObN/GTmWEHVECEflPlhImp9JEGoNjpCgPZn2VhEkYa13Eg8ylLyVuehg343JqYXqw
GNgMRYFyiZI7Uu5Kv90NxEb+rpQdZtleRf9F/yN+JXtSMFdhT5Z7qGh8BmQCDNWzOd/PeOY1X6u+
MJveIAhgIJO5mebAnUx0c1yBDud0U5TPQRJ8v8FC4D94yQ8HBcqnWDyTRSZrm9cFAyRAs6gzwTI1
gBG0GzCaAphaMrCC3CBZMAto8hqJ2drCdzwHb3ie+uXrVDPT6HAWNVF7lL4Uc7vpoO8KHa9LHmWW
m+WKt7sED1qCFJVLUK2S0bACQpYVsGtrF7VFy2I+azDxvGaArwHv0FY9M3MsOuX/lmG4m7bcngg/
17JjWnhApAC7yJYrLm0fyhVTQO57KB7R9p7EnVLfY7mhmGaB+fnnK+jBb75drlfX26anAmwNcG3p
J1+XCSzAeywICsV892oGJmECOFlkExVqMYgNpQJWq+SLEWl0xXHqvkl8qwtgWtYB3JeJuUJIlEg1
oEOpRpoCxsDcuBGh4kK+2RNFgM9AxHv3kfbjIEId3sjfgwo3BcV8iv76fHjr2dFXnr3ypD2+PJV/
6VQQE8ELwjjSu5defX3wR+PgWW77ycAeCcC1BhWCzBqwC2A3ChkFpJK+TIIDEK1xeHgYHt47PHoU
39M6Ar9jBPWiYW/TzwvQP/1uBRzTUNPYBqNTyo5PUrqlb5n++aTuT0INdCf4J3SWjQIyWhHgGOBM
kTSxTqCFPnTrjMwACCFk1kAxFTkbmjgCCpjhkL5Kw6GMcQDDGBNJgwmhXUsoA3ucCOx7YFEAPh3a
JHrfI7H6M/rvrRp4UskHissoooiugJrTfKSsi3Q/TtUSw0DKWNsjHCKRbMgEgobaHGh3ajcyPAvN
MBlaexYN7pppaNOBMmN7EJpS6yEN/aSa+WhMwjNhqfYrMfHt2ngFIa8xvyOv3GQYRFlWTwDNEwUh
GJVgTyBWIKLkyTCzRKmeO3vJNibBTBW4Zxw7PSJd6nB8S1Wj5neMRojDlRAPBLVJd8nd3GP92MRJ
HJvj07tDJqJCXj9XV877+7EvCBxpqFM3zD56zw/8Qs/++j96I3WqeuIb4u/E34t/Fv8ivi9+6GO8
0nBIcxXX7LlW6lmYseAts/UlOM18PVvPNusr6mXzjrhx6IJojIMaz5YAgXsC52GTmeSWeWMDBGT6
yACHHA38LAyDZGNbAN5iWvAYfulqgF3aqV3kgCFmf+hZgtA1oENIwI84wlxtF+BQq515Ktar9YoD
Ro+rPlysc8bW3LM3jtMAchzTrTmyAuVC+Il3N+BuH2ORV9hjfEzLmuHAl+M2BJ+M5/l0YVkFHG1y
gDhvu4DNR4wd9nY68ulOAI5sBaJ3t0YLmNwSdA5bros1Lot7EoSUfvjd7uwKOfjkIHlP/SFwIQmA
CyaL09S4YXeN893rgHGwjX9imwM4KLXvEamRVsPzAGMBLmIfstC1GXXBmueD3shF3hee7HWm24GZ
+XJ4J9gD3eHdsbsOaIzS3gF/2yz/ce+t+3FRMIl1GiUmmIfyE8cXT8dvjq44CHXelF9s+9+pvjj2
QsPzwDOZyI1Os7upxNX/D3t+B/Nk4T/8XyQf+GAWca342j62QnzW+7QKcSNm8cD0R5N4KLPHWfRZ
eodSmwRRyJpLWHNAoWA4HIRv1WZTnvXffPra2cVIRZF6IxrYQVzo81c+8Wz84v0q+9Pg+CB6wUpm
WSJUiAM5EPT7thz4Xm2dPZ9vkpvwNg66yJD26tDnpmA8SUvA5V43TNc7HkOBjmXAOnaMEOzNKbNg
RZ9mUArJAl4B+9hwQrjXwLUjF7gDVm2qQ6j25cm9J+Wrw9VJsa5PRveb4cub85deVXIoRSxZo9HB
SfBevIpZt5F2kyZfXbx+8andnU/e+lLZP4xOYhla9aDIXFE6U3141p1hLsWXINIRKueedvF3It1r
ewl9WyW9X/X+r/f/iKQT4EYXsRmEPx4nGAnKalE2/jvQHgIYSmp7KeeX5L+LNPxBZP+ZpuVCu7GI
dvKinEgGILwBMlVWJ7bKzf7jyETYsoD7Vdt8xdmJ5HVOAUvzGqjUVieiWk26EA6vszD+AxHLA4fG
qvDL2Rrx2WPB33GYBa3vixnC0c5rubAHtQXiNcRaoFqjZZE35alY2TYTs2Y6b2nenyRmFKVBSKEz
nSMBaS34hzZefZehTuIo0UHthgPp7LgIokGeB5aPWV5RBvndm28E78eVcOQUwiC6gnSfyy/Ayi5O
XVm4MZz5+8bg/hweJ5O0Y0BXvB52aeV4d7vct81ePxbRQFNqIpPDXGBojBZhLP0K+PvXd3z2lfU7
3UeW2MaeQyEcJKkTstY6Ojiqb59NXzim5KhKzy5oH2/5oFCqNAarikImXiJ5OkjuzwejTyUmTuPE
HOtnrm+LF9ygj8c9eGSTxL4pQyZKXmMINxF/gCyAxXTBJr2GqQ9GGjiXWSn/PJCi8xNEf/LOG5e4
+KIkSsNUP5AZNgI2k4pkFI5zMlYqF5JbZHfOk9NH+UEI0hE5dRhW6UV8coSkio/Gbz9IspJFYLBs
P/yB30tzsjDIe78B2zSNiAAAAHjabY9PSsNAHIW/tGmkKC5EXJYB1wnJUARzgHRvIPsupmmgJJCm
W4/hATyBO4/hATyBt/BNHcGFM8zMN2/e788AV7wQ4UfEktvAMy7IAs+55zlwTMJb4AWXfARONL/k
jOKllJtzlOcZ16wCz6l4CByr7mvgBXe8B06kf1LTsJF7oGfCUEDdbKqhn4zwCUfLiQNbRl1dezps
Bb9+f45yOEVa/SLXWWrV7KV37M45y/PrmlTZrXYrX8Gj0qhMNYytMzbLTWnq/djtJoFdp4VNbV7I
9DcXPw7UtJN4lOwb8W374jRuPHZDb4os/z/wG5F4Nx8AAAB42mNgYkAGjAzogAMsysTIxMjMyMLI
ysjGdGEF04XZTBcamS7MYLqwHAA6JgdFAAAAAAAB//8AAgABAAAADAAAABYAAAACAAEAAwAHAAEA
BAAAAAIAAAAAAFr/MwAAAAAEAAAAAFr/Pv9A/0r/NP8neNpjYBRgYJL7e44hhiGKgeGPHwsvAwMD
IwMyYAEAaysEEwAAeNpjYGBgZACCm9mqP0H0LQ25xzAaAEZTBmoAAA==) format('woff'), url('Shrift.ttf')  format('truetype'), url('Shrift.svg#Shrift') format('svg');
  font-weight: normal;
  font-style: normal;
}


